@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --purple: #633CFF;
    --purple-hover: #BEADFF;
    --purple-light: #EFEBFF;
    --grey: #737373;
    --grey-dark: #333333;
    --grey-light: #FAFAFA;
    --borders: #D9D9D9;
    --red: #FF3939;
}